<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="manifest" href="./app.webmanifest">
    <meta name="theme-color" content="#DB0000"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 
    <title>FinderRestaurant</title>
</head>
<body>
    <a href="#mainContent" class="skip-link" tabindex="1">Menuju ke konten</a>
    <!-- Header Start -->
    <header class="app-bar">
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
            <h1>Finder Restaurant</h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="#/home">Home</a></li>
                <li><a href="#/favorite">Favorite</a></li>
                <li><a href="https://www.linkedin.com/in/muhammad-firhan-a7237b186/">About</a></li>
            </ul>
        </nav>
    </header>
    <!-- Header End -->

        <!-- Hero Section Start -->
        <!-- <section class="hero" id="home">
            <picture>
                <source media="(max-width: 600px)" srcset="./path/to/images/image-small.webp" type="image/webp">
                <source media="(max-width: 600px)" srcset="./path/to/images/image-small.jpg" type="image/jpeg">
                <img src="./path/to/images/image-large.jpg"
                     alt="">
              </picture>
            <main class="content">
              <h1>Find the nearest restaurant in your area</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quis.</p>
              <button>Search</button>
            </main>
          </section> -->

          <!-- <picture class="hero" id="home">
            <source media="(max-width: 600px)" srcset="./images/hero-image_2.jpg" type="image/jpeg">
            <source media="(max-width: 1000px)" srcset="./images/hero-image_2.jpg" type="image/jpeg">
            <img src="./images/hero-image_2.jpg" />
                 <main class="content">
                  </main>
          </picture> -->

          
      
          <!-- Hero Section End -->

    <!-- Main Start -->
    <main>
        <div id="jumbotron">
            <img src="./images/hero-image_2.jpg" />
        </div>
        <div id="mainContent" tabindex="0"></div>
    </main>
      
    <!-- Main End -->

    <!-- Footer Start -->
    <footer>
        <div class="credit">
          <p>Copyright © 2024 - Finder Restaurant</p>
        </div>
      </footer>
      <!-- Footer End -->
</body>
</html>